version: '3.8'

services:
  db:
    image: mysql:latest
    container_name: racing-car-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: racing_car_db
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
